<div class="row-fluid">
	<%= render('layouts/sidenav') %>
	<div class="span9">
		<div class="hero-unit"><h2><%= @sel_month ? @sel_month : "Archives" %></h2></div>
			<% @blogs.each do |blog| %>
				<% user = User.find(blog.user_id) %>
				<h3><%= link_to(blog.blog_title, {:controller => "blogs", :action => "show", :id => blog.id}) %>
				<p><%= truncate(blog.blog_post, :length => 160, :omission => '...') %></p><br>
				<p class="pull-right"><small>By - <%= user.first_name %></small></p><hr>
			<% end %>
	</div>
</div>




