<h2>Blog Lists</h2>
<%= link_to("Create new blog", { :action => "new" }, :class => "") %>

<table>
	<tr>
		<th>Blog ID</th>
		<th>Blog Title</th>
		<th>Actions</th>
	</tr>
	<% @blogs.each do |blog| %>
	<tr>
		<td><%= blog.id %></td>
		<td><%= blog.blog_title %></td>
		<td>
			<%= link_to("Show", { :action => "show", :id => blog.id }, :class => "") %>
			<%= link_to("Edit", { :action => "edit", :id => blog.id }) %>
			<%= link_to("Delete", { :action => "delete", :id => blog.id }) %>
		</td>
	</tr>
	<% end %>
</table>