<h2>Blog Details</h2>

<h4>Blog Title : <%= @blog.blog_title %></h4>
<h4>Blog Post : <%= @blog.blog_post %></h4>
<h4>Created : <%= @blog.created_at %></h4>
<h4>Updated : <%= @blog.updated_at %></h4>
<p>Created By : <%= @user.first_name %></p>