<h2><%= @user.name %></h2>

<h3>You have <%= pluralize(@user.blogs.size, "blog") %>&nbsp;&nbsp;
	<%= link_to("Create New", {:controller => 'blogs', :action => "new" }, :class => "btn") %>
</h3>
<table>
	<tr>
		<th>Blog ID</th>
		<th>Blog Title</th>
		<th>Actions</th>
	</tr>
	<% @user_blogs.each do |blog| %>
	<tr>
		<td><%= blog.id %></td>
		<td><%= link_to(blog.blog_title, {:controller => "blogs", :action => "show", :id => blog.id}) %></td>
		<td>
			<%= link_to("Edit", { :controller => "blogs", :action => "edit", :id => blog.id }) %>
			<%= link_to("Delete", { :controller => "blogs", :action => "delete", :id => blog.id }) %>
		</td>
	</tr>
	<% end %>
</table>
